
body {
    margin: 0px;
    font-family: "Tahoma", sans-serif;
}

/* below this point is styling for the header section */

.header {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    padding: 0px 150px 100px 150px;
    gap: 80px;
    flex: 1;
}

.header-bottom, .header-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-logo {
    font-size: 24px;   
    color: #F9FAF8; 
    font-weight: 700;
}

.links-right {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.links-left {
    padding: 0;
}

.header-top {
    justify-content: space-between;
    line-height: 24px;
}

li {
    list-style-type: none;
}

.placeholder {
    flex: 1;
}

.para {
    margin: 10px 0px 10px 0px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button-1 {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
}

.image {
    font-size: 18px;
    color: #e5e7eb;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Below this point is styling for section 2 */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.boxes {
    display: flex;
    flex-direction: row;
    padding: 0 200px 80px 200px;
    gap: 20px;
}

.box-section {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.box {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882f6;
    border-radius: 10px;
}

.info-para {
    text-align: center;
    color: grey;
}

/* Below this line is the styling for the quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 0 80px 0;
    align-items:center
}

.quote {
    width: 680px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

.signature {
    font-size: 24px;
    font-weight: 900;
    width: 610px;
    margin: 0;
    text-align: right;
}

/* Below here is the styling for the call to action section */

.call-to-action {
    margin: 80px 150px 80px 150px;
    padding: 40px 80px 40px 80px;
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
}

.h2, .sign-up {
    margin: 0;
}

.h2 {
    font-size: 24px;
}

.button-2 {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}
